<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AA</key>
	<dict>
		<key>A3</key>
		<string>AAA</string>
		<key>Number</key>
		<string>958</string>
	</dict>
	<key>AD</key>
	<dict>
		<key>A3</key>
		<string>AND</string>
		<key>Number</key>
		<string>020</string>
	</dict>
	<key>AE</key>
	<dict>
		<key>A3</key>
		<string>ARE</string>
		<key>Number</key>
		<string>784</string>
	</dict>
	<key>AF</key>
	<dict>
		<key>A3</key>
		<string>AFG</string>
		<key>Number</key>
		<string>004</string>
	</dict>
	<key>AG</key>
	<dict>
		<key>A3</key>
		<string>ATG</string>
		<key>Number</key>
		<string>028</string>
	</dict>
	<key>AI</key>
	<dict>
		<key>A3</key>
		<string>AIA</string>
		<key>Number</key>
		<string>660</string>
	</dict>
	<key>AL</key>
	<dict>
		<key>A3</key>
		<string>ALB</string>
		<key>Number</key>
		<string>008</string>
	</dict>
	<key>AM</key>
	<dict>
		<key>A3</key>
		<string>ARM</string>
		<key>Number</key>
		<string>051</string>
	</dict>
	<key>AN</key>
	<dict>
		<key>A3</key>
		<string>ANT</string>
		<key>Number</key>
		<string>530</string>
	</dict>
	<key>AO</key>
	<dict>
		<key>A3</key>
		<string>AGO</string>
		<key>Number</key>
		<string>024</string>
	</dict>
	<key>AQ</key>
	<dict>
		<key>A3</key>
		<string>ATA</string>
		<key>Number</key>
		<string>010</string>
	</dict>
	<key>AR</key>
	<dict>
		<key>A3</key>
		<string>ARG</string>
		<key>Number</key>
		<string>032</string>
	</dict>
	<key>AS</key>
	<dict>
		<key>A3</key>
		<string>ASM</string>
		<key>Number</key>
		<string>016</string>
	</dict>
	<key>AT</key>
	<dict>
		<key>A3</key>
		<string>AUT</string>
		<key>Number</key>
		<string>040</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>A3</key>
		<string>AUS</string>
		<key>Number</key>
		<string>036</string>
	</dict>
	<key>AW</key>
	<dict>
		<key>A3</key>
		<string>ABW</string>
		<key>Number</key>
		<string>533</string>
	</dict>
	<key>AX</key>
	<dict>
		<key>A3</key>
		<string>ALA</string>
		<key>Number</key>
		<string>248</string>
	</dict>
	<key>AZ</key>
	<dict>
		<key>A3</key>
		<string>AZE</string>
		<key>Number</key>
		<string>031</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>A3</key>
		<string>BIH</string>
		<key>Number</key>
		<string>070</string>
	</dict>
	<key>BB</key>
	<dict>
		<key>A3</key>
		<string>BRB</string>
		<key>Number</key>
		<string>052</string>
	</dict>
	<key>BD</key>
	<dict>
		<key>A3</key>
		<string>BGD</string>
		<key>Number</key>
		<string>050</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>A3</key>
		<string>BEL</string>
		<key>Number</key>
		<string>056</string>
	</dict>
	<key>BF</key>
	<dict>
		<key>A3</key>
		<string>BFA</string>
		<key>Number</key>
		<string>854</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>A3</key>
		<string>BGR</string>
		<key>Number</key>
		<string>100</string>
	</dict>
	<key>BH</key>
	<dict>
		<key>A3</key>
		<string>BHR</string>
		<key>Number</key>
		<string>048</string>
	</dict>
	<key>BI</key>
	<dict>
		<key>A3</key>
		<string>BDI</string>
		<key>Number</key>
		<string>108</string>
	</dict>
	<key>BJ</key>
	<dict>
		<key>A3</key>
		<string>BEN</string>
		<key>Number</key>
		<string>204</string>
	</dict>
	<key>BL</key>
	<dict>
		<key>A3</key>
		<string>BLM</string>
		<key>Number</key>
		<string>652</string>
	</dict>
	<key>BM</key>
	<dict>
		<key>A3</key>
		<string>BMU</string>
		<key>Number</key>
		<string>060</string>
	</dict>
	<key>BN</key>
	<dict>
		<key>A3</key>
		<string>BRN</string>
		<key>Number</key>
		<string>096</string>
	</dict>
	<key>BO</key>
	<dict>
		<key>A3</key>
		<string>BOL</string>
		<key>Number</key>
		<string>068</string>
	</dict>
	<key>BQ</key>
	<dict>
		<key>A3</key>
		<string>BES</string>
		<key>Number</key>
		<string>535</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>A3</key>
		<string>BRA</string>
		<key>Number</key>
		<string>076</string>
	</dict>
	<key>BS</key>
	<dict>
		<key>A3</key>
		<string>BHS</string>
		<key>Number</key>
		<string>044</string>
	</dict>
	<key>BT</key>
	<dict>
		<key>A3</key>
		<string>BTN</string>
		<key>Number</key>
		<string>064</string>
	</dict>
	<key>BV</key>
	<dict>
		<key>A3</key>
		<string>BVT</string>
		<key>Number</key>
		<string>074</string>
	</dict>
	<key>BW</key>
	<dict>
		<key>A3</key>
		<string>BWA</string>
		<key>Number</key>
		<string>072</string>
	</dict>
	<key>BY</key>
	<dict>
		<key>A3</key>
		<string>BLR</string>
		<key>Number</key>
		<string>112</string>
	</dict>
	<key>BZ</key>
	<dict>
		<key>A3</key>
		<string>BLZ</string>
		<key>Number</key>
		<string>084</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>A3</key>
		<string>CAN</string>
		<key>Number</key>
		<string>124</string>
	</dict>
	<key>CC</key>
	<dict>
		<key>A3</key>
		<string>CCK</string>
		<key>Number</key>
		<string>166</string>
	</dict>
	<key>CF</key>
	<dict>
		<key>A3</key>
		<string>CAF</string>
		<key>Number</key>
		<string>140</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>A3</key>
		<string>CHE</string>
		<key>Number</key>
		<string>756</string>
	</dict>
	<key>CK</key>
	<dict>
		<key>A3</key>
		<string>COK</string>
		<key>Number</key>
		<string>184</string>
	</dict>
	<key>CL</key>
	<dict>
		<key>A3</key>
		<string>CHL</string>
		<key>Number</key>
		<string>152</string>
	</dict>
	<key>CM</key>
	<dict>
		<key>A3</key>
		<string>CMR</string>
		<key>Number</key>
		<string>120</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>A3</key>
		<string>CHN</string>
		<key>Number</key>
		<string>156</string>
	</dict>
	<key>CO</key>
	<dict>
		<key>A3</key>
		<string>COL</string>
		<key>Number</key>
		<string>170</string>
	</dict>
	<key>CR</key>
	<dict>
		<key>A3</key>
		<string>CRI</string>
		<key>Number</key>
		<string>188</string>
	</dict>
	<key>CV</key>
	<dict>
		<key>A3</key>
		<string>CPV</string>
		<key>Number</key>
		<string>132</string>
	</dict>
	<key>CW</key>
	<dict>
		<key>A3</key>
		<string>CUW</string>
		<key>Number</key>
		<string>531</string>
	</dict>
	<key>CX</key>
	<dict>
		<key>A3</key>
		<string>CXR</string>
		<key>Number</key>
		<string>162</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>A3</key>
		<string>CYP</string>
		<key>Number</key>
		<string>196</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>A3</key>
		<string>CZE</string>
		<key>Number</key>
		<string>203</string>
	</dict>
	<key>DD</key>
	<dict>
		<key>A3</key>
		<string>DDR</string>
		<key>Number</key>
		<string>278</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>A3</key>
		<string>DEU</string>
		<key>Number</key>
		<string>276</string>
	</dict>
	<key>DJ</key>
	<dict>
		<key>A3</key>
		<string>DJI</string>
		<key>Number</key>
		<string>262</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>A3</key>
		<string>DNK</string>
		<key>Number</key>
		<string>208</string>
	</dict>
	<key>DM</key>
	<dict>
		<key>A3</key>
		<string>DMA</string>
		<key>Number</key>
		<string>212</string>
	</dict>
	<key>DO</key>
	<dict>
		<key>A3</key>
		<string>DOM</string>
		<key>Number</key>
		<string>214</string>
	</dict>
	<key>DZ</key>
	<dict>
		<key>A3</key>
		<string>DZA</string>
		<key>Number</key>
		<string>012</string>
	</dict>
	<key>EC</key>
	<dict>
		<key>A3</key>
		<string>ECU</string>
		<key>Number</key>
		<string>218</string>
	</dict>
	<key>EE</key>
	<dict>
		<key>A3</key>
		<string>EST</string>
		<key>Number</key>
		<string>233</string>
	</dict>
	<key>EG</key>
	<dict>
		<key>A3</key>
		<string>EGY</string>
		<key>Number</key>
		<string>818</string>
	</dict>
	<key>EH</key>
	<dict>
		<key>A3</key>
		<string>ESH</string>
		<key>Number</key>
		<string>732</string>
	</dict>
	<key>ER</key>
	<dict>
		<key>A3</key>
		<string>ERI</string>
		<key>Number</key>
		<string>232</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>A3</key>
		<string>ESP</string>
		<key>Number</key>
		<string>724</string>
	</dict>
	<key>ET</key>
	<dict>
		<key>A3</key>
		<string>ETH</string>
		<key>Number</key>
		<string>231</string>
	</dict>
	<key>EU</key>
	<dict>
		<key>A3</key>
		<string>QUU</string>
		<key>Number</key>
		<string>967</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>A3</key>
		<string>FIN</string>
		<key>Number</key>
		<string>246</string>
	</dict>
	<key>FJ</key>
	<dict>
		<key>A3</key>
		<string>FJI</string>
		<key>Number</key>
		<string>242</string>
	</dict>
	<key>FK</key>
	<dict>
		<key>A3</key>
		<string>FLK</string>
		<key>Number</key>
		<string>238</string>
	</dict>
	<key>FM</key>
	<dict>
		<key>A3</key>
		<string>FSM</string>
		<key>Number</key>
		<string>583</string>
	</dict>
	<key>FO</key>
	<dict>
		<key>A3</key>
		<string>FRO</string>
		<key>Number</key>
		<string>234</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>A3</key>
		<string>FRA</string>
		<key>Number</key>
		<string>250</string>
	</dict>
	<key>GA</key>
	<dict>
		<key>A3</key>
		<string>GAB</string>
		<key>Number</key>
		<string>266</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>A3</key>
		<string>GBR</string>
		<key>Number</key>
		<string>826</string>
	</dict>
	<key>GD</key>
	<dict>
		<key>A3</key>
		<string>GRD</string>
		<key>Number</key>
		<string>308</string>
	</dict>
	<key>GE</key>
	<dict>
		<key>A3</key>
		<string>GEO</string>
		<key>Number</key>
		<string>268</string>
	</dict>
	<key>GF</key>
	<dict>
		<key>A3</key>
		<string>GUF</string>
		<key>Number</key>
		<string>254</string>
	</dict>
	<key>GG</key>
	<dict>
		<key>A3</key>
		<string>GGY</string>
		<key>Number</key>
		<string>831</string>
	</dict>
	<key>GH</key>
	<dict>
		<key>A3</key>
		<string>GHA</string>
		<key>Number</key>
		<string>288</string>
	</dict>
	<key>GI</key>
	<dict>
		<key>A3</key>
		<string>GIB</string>
		<key>Number</key>
		<string>292</string>
	</dict>
	<key>GL</key>
	<dict>
		<key>A3</key>
		<string>GRL</string>
		<key>Number</key>
		<string>304</string>
	</dict>
	<key>GM</key>
	<dict>
		<key>A3</key>
		<string>GMB</string>
		<key>Number</key>
		<string>270</string>
	</dict>
	<key>GN</key>
	<dict>
		<key>A3</key>
		<string>GIN</string>
		<key>Number</key>
		<string>324</string>
	</dict>
	<key>GP</key>
	<dict>
		<key>A3</key>
		<string>GLP</string>
		<key>Number</key>
		<string>312</string>
	</dict>
	<key>GQ</key>
	<dict>
		<key>A3</key>
		<string>GNQ</string>
		<key>Number</key>
		<string>226</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>A3</key>
		<string>GRC</string>
		<key>Number</key>
		<string>300</string>
	</dict>
	<key>GS</key>
	<dict>
		<key>A3</key>
		<string>SGS</string>
		<key>Number</key>
		<string>239</string>
	</dict>
	<key>GT</key>
	<dict>
		<key>A3</key>
		<string>GTM</string>
		<key>Number</key>
		<string>320</string>
	</dict>
	<key>GU</key>
	<dict>
		<key>A3</key>
		<string>GUM</string>
		<key>Number</key>
		<string>316</string>
	</dict>
	<key>GW</key>
	<dict>
		<key>A3</key>
		<string>GNB</string>
		<key>Number</key>
		<string>624</string>
	</dict>
	<key>GY</key>
	<dict>
		<key>A3</key>
		<string>GUY</string>
		<key>Number</key>
		<string>328</string>
	</dict>
	<key>HK</key>
	<dict>
		<key>A3</key>
		<string>HKG</string>
		<key>Number</key>
		<string>344</string>
	</dict>
	<key>HM</key>
	<dict>
		<key>A3</key>
		<string>HMD</string>
		<key>Number</key>
		<string>334</string>
	</dict>
	<key>HN</key>
	<dict>
		<key>A3</key>
		<string>HND</string>
		<key>Number</key>
		<string>340</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>A3</key>
		<string>HRV</string>
		<key>Number</key>
		<string>191</string>
	</dict>
	<key>HT</key>
	<dict>
		<key>A3</key>
		<string>HTI</string>
		<key>Number</key>
		<string>332</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>A3</key>
		<string>HUN</string>
		<key>Number</key>
		<string>348</string>
	</dict>
	<key>ID</key>
	<dict>
		<key>A3</key>
		<string>IDN</string>
		<key>Number</key>
		<string>360</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>A3</key>
		<string>IRL</string>
		<key>Number</key>
		<string>372</string>
	</dict>
	<key>IL</key>
	<dict>
		<key>A3</key>
		<string>ISR</string>
		<key>Number</key>
		<string>376</string>
	</dict>
	<key>IM</key>
	<dict>
		<key>A3</key>
		<string>IMN</string>
		<key>Number</key>
		<string>833</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>A3</key>
		<string>IND</string>
		<key>Number</key>
		<string>356</string>
	</dict>
	<key>IO</key>
	<dict>
		<key>A3</key>
		<string>IOT</string>
		<key>Number</key>
		<string>086</string>
	</dict>
	<key>IQ</key>
	<dict>
		<key>A3</key>
		<string>IRQ</string>
		<key>Number</key>
		<string>368</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>A3</key>
		<string>ISL</string>
		<key>Number</key>
		<string>352</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>A3</key>
		<string>ITA</string>
		<key>Number</key>
		<string>380</string>
	</dict>
	<key>JE</key>
	<dict>
		<key>A3</key>
		<string>JEY</string>
		<key>Number</key>
		<string>832</string>
	</dict>
	<key>JM</key>
	<dict>
		<key>A3</key>
		<string>JAM</string>
		<key>Number</key>
		<string>388</string>
	</dict>
	<key>JO</key>
	<dict>
		<key>A3</key>
		<string>JOR</string>
		<key>Number</key>
		<string>400</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>A3</key>
		<string>JPN</string>
		<key>Number</key>
		<string>392</string>
	</dict>
	<key>KE</key>
	<dict>
		<key>A3</key>
		<string>KEN</string>
		<key>Number</key>
		<string>404</string>
	</dict>
	<key>KG</key>
	<dict>
		<key>A3</key>
		<string>KGZ</string>
		<key>Number</key>
		<string>417</string>
	</dict>
	<key>KH</key>
	<dict>
		<key>A3</key>
		<string>KHM</string>
		<key>Number</key>
		<string>116</string>
	</dict>
	<key>KI</key>
	<dict>
		<key>A3</key>
		<string>KIR</string>
		<key>Number</key>
		<string>296</string>
	</dict>
	<key>KM</key>
	<dict>
		<key>A3</key>
		<string>COM</string>
		<key>Number</key>
		<string>174</string>
	</dict>
	<key>KN</key>
	<dict>
		<key>A3</key>
		<string>KNA</string>
		<key>Number</key>
		<string>659</string>
	</dict>
	<key>KR</key>
	<dict>
		<key>A3</key>
		<string>KOR</string>
		<key>Number</key>
		<string>410</string>
	</dict>
	<key>KW</key>
	<dict>
		<key>A3</key>
		<string>KWT</string>
		<key>Number</key>
		<string>414</string>
	</dict>
	<key>KY</key>
	<dict>
		<key>A3</key>
		<string>CYM</string>
		<key>Number</key>
		<string>136</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>A3</key>
		<string>KAZ</string>
		<key>Number</key>
		<string>398</string>
	</dict>
	<key>LA</key>
	<dict>
		<key>A3</key>
		<string>LAO</string>
		<key>Number</key>
		<string>418</string>
	</dict>
	<key>LB</key>
	<dict>
		<key>A3</key>
		<string>LBN</string>
		<key>Number</key>
		<string>422</string>
	</dict>
	<key>LC</key>
	<dict>
		<key>A3</key>
		<string>LCA</string>
		<key>Number</key>
		<string>662</string>
	</dict>
	<key>LI</key>
	<dict>
		<key>A3</key>
		<string>LIE</string>
		<key>Number</key>
		<string>438</string>
	</dict>
	<key>LK</key>
	<dict>
		<key>A3</key>
		<string>LKA</string>
		<key>Number</key>
		<string>144</string>
	</dict>
	<key>LR</key>
	<dict>
		<key>A3</key>
		<string>LBR</string>
		<key>Number</key>
		<string>430</string>
	</dict>
	<key>LS</key>
	<dict>
		<key>A3</key>
		<string>LSO</string>
		<key>Number</key>
		<string>426</string>
	</dict>
	<key>LT</key>
	<dict>
		<key>A3</key>
		<string>LTU</string>
		<key>Number</key>
		<string>440</string>
	</dict>
	<key>LU</key>
	<dict>
		<key>A3</key>
		<string>LUX</string>
		<key>Number</key>
		<string>442</string>
	</dict>
	<key>LV</key>
	<dict>
		<key>A3</key>
		<string>LVA</string>
		<key>Number</key>
		<string>428</string>
	</dict>
	<key>MA</key>
	<dict>
		<key>A3</key>
		<string>MAR</string>
		<key>Number</key>
		<string>504</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>A3</key>
		<string>MCO</string>
		<key>Number</key>
		<string>492</string>
	</dict>
	<key>MD</key>
	<dict>
		<key>A3</key>
		<string>MDA</string>
		<key>Number</key>
		<string>498</string>
	</dict>
	<key>ME</key>
	<dict>
		<key>A3</key>
		<string>MNE</string>
		<key>Number</key>
		<string>499</string>
	</dict>
	<key>MF</key>
	<dict>
		<key>A3</key>
		<string>MAF</string>
		<key>Number</key>
		<string>663</string>
	</dict>
	<key>MG</key>
	<dict>
		<key>A3</key>
		<string>MDG</string>
		<key>Number</key>
		<string>450</string>
	</dict>
	<key>MH</key>
	<dict>
		<key>A3</key>
		<string>MHL</string>
		<key>Number</key>
		<string>584</string>
	</dict>
	<key>MK</key>
	<dict>
		<key>A3</key>
		<string>MKD</string>
		<key>Number</key>
		<string>807</string>
	</dict>
	<key>ML</key>
	<dict>
		<key>A3</key>
		<string>MLI</string>
		<key>Number</key>
		<string>466</string>
	</dict>
	<key>MM</key>
	<dict>
		<key>A3</key>
		<string>MMR</string>
		<key>Number</key>
		<string>104</string>
	</dict>
	<key>MN</key>
	<dict>
		<key>A3</key>
		<string>MNG</string>
		<key>Number</key>
		<string>496</string>
	</dict>
	<key>MO</key>
	<dict>
		<key>A3</key>
		<string>MAC</string>
		<key>Number</key>
		<string>446</string>
	</dict>
	<key>MP</key>
	<dict>
		<key>A3</key>
		<string>MNP</string>
		<key>Number</key>
		<string>580</string>
	</dict>
	<key>MQ</key>
	<dict>
		<key>A3</key>
		<string>MTQ</string>
		<key>Number</key>
		<string>474</string>
	</dict>
	<key>MR</key>
	<dict>
		<key>A3</key>
		<string>MRT</string>
		<key>Number</key>
		<string>478</string>
	</dict>
	<key>MS</key>
	<dict>
		<key>A3</key>
		<string>MSR</string>
		<key>Number</key>
		<string>500</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>A3</key>
		<string>MLT</string>
		<key>Number</key>
		<string>470</string>
	</dict>
	<key>MU</key>
	<dict>
		<key>A3</key>
		<string>MUS</string>
		<key>Number</key>
		<string>480</string>
	</dict>
	<key>MV</key>
	<dict>
		<key>A3</key>
		<string>MDV</string>
		<key>Number</key>
		<string>462</string>
	</dict>
	<key>MW</key>
	<dict>
		<key>A3</key>
		<string>MWI</string>
		<key>Number</key>
		<string>454</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>A3</key>
		<string>MEX</string>
		<key>Number</key>
		<string>484</string>
	</dict>
	<key>MY</key>
	<dict>
		<key>A3</key>
		<string>MYS</string>
		<key>Number</key>
		<string>458</string>
	</dict>
	<key>MZ</key>
	<dict>
		<key>A3</key>
		<string>MOZ</string>
		<key>Number</key>
		<string>508</string>
	</dict>
	<key>NA</key>
	<dict>
		<key>A3</key>
		<string>NAM</string>
		<key>Number</key>
		<string>516</string>
	</dict>
	<key>NC</key>
	<dict>
		<key>A3</key>
		<string>NCL</string>
		<key>Number</key>
		<string>540</string>
	</dict>
	<key>NE</key>
	<dict>
		<key>A3</key>
		<string>NER</string>
		<key>Number</key>
		<string>562</string>
	</dict>
	<key>NF</key>
	<dict>
		<key>A3</key>
		<string>NFK</string>
		<key>Number</key>
		<string>574</string>
	</dict>
	<key>NG</key>
	<dict>
		<key>A3</key>
		<string>NGA</string>
		<key>Number</key>
		<string>566</string>
	</dict>
	<key>NI</key>
	<dict>
		<key>A3</key>
		<string>NIC</string>
		<key>Number</key>
		<string>558</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>A3</key>
		<string>NLD</string>
		<key>Number</key>
		<string>528</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>A3</key>
		<string>NOR</string>
		<key>Number</key>
		<string>578</string>
	</dict>
	<key>NP</key>
	<dict>
		<key>A3</key>
		<string>NPL</string>
		<key>Number</key>
		<string>524</string>
	</dict>
	<key>NR</key>
	<dict>
		<key>A3</key>
		<string>NRU</string>
		<key>Number</key>
		<string>520</string>
	</dict>
	<key>NT</key>
	<dict>
		<key>A3</key>
		<string>NTZ</string>
		<key>Number</key>
		<string>536</string>
	</dict>
	<key>NU</key>
	<dict>
		<key>A3</key>
		<string>NIU</string>
		<key>Number</key>
		<string>570</string>
	</dict>
	<key>NZ</key>
	<dict>
		<key>A3</key>
		<string>NZL</string>
		<key>Number</key>
		<string>554</string>
	</dict>
	<key>OM</key>
	<dict>
		<key>A3</key>
		<string>OMN</string>
		<key>Number</key>
		<string>512</string>
	</dict>
	<key>PA</key>
	<dict>
		<key>A3</key>
		<string>PAN</string>
		<key>Number</key>
		<string>591</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>A3</key>
		<string>PER</string>
		<key>Number</key>
		<string>604</string>
	</dict>
	<key>PF</key>
	<dict>
		<key>A3</key>
		<string>PYF</string>
		<key>Number</key>
		<string>258</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>A3</key>
		<string>PNG</string>
		<key>Number</key>
		<string>598</string>
	</dict>
	<key>PH</key>
	<dict>
		<key>A3</key>
		<string>PHL</string>
		<key>Number</key>
		<string>608</string>
	</dict>
	<key>PK</key>
	<dict>
		<key>A3</key>
		<string>PAK</string>
		<key>Number</key>
		<string>586</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>A3</key>
		<string>POL</string>
		<key>Number</key>
		<string>616</string>
	</dict>
	<key>PM</key>
	<dict>
		<key>A3</key>
		<string>SPM</string>
		<key>Number</key>
		<string>666</string>
	</dict>
	<key>PN</key>
	<dict>
		<key>A3</key>
		<string>PCN</string>
		<key>Number</key>
		<string>612</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>A3</key>
		<string>PRI</string>
		<key>Number</key>
		<string>630</string>
	</dict>
	<key>PS</key>
	<dict>
		<key>A3</key>
		<string>PSE</string>
		<key>Number</key>
		<string>275</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>A3</key>
		<string>PRT</string>
		<key>Number</key>
		<string>620</string>
	</dict>
	<key>PW</key>
	<dict>
		<key>A3</key>
		<string>PLW</string>
		<key>Number</key>
		<string>585</string>
	</dict>
	<key>PY</key>
	<dict>
		<key>A3</key>
		<string>PRY</string>
		<key>Number</key>
		<string>600</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>A3</key>
		<string>QAT</string>
		<key>Number</key>
		<string>634</string>
	</dict>
	<key>QM</key>
	<dict>
		<key>A3</key>
		<string>QMM</string>
		<key>Number</key>
		<string>959</string>
	</dict>
	<key>QN</key>
	<dict>
		<key>A3</key>
		<string>QNN</string>
		<key>Number</key>
		<string>960</string>
	</dict>
	<key>QO</key>
	<dict>
		<key>A3</key>
		<string>QOO</string>
		<key>Number</key>
		<string>961</string>
	</dict>
	<key>QP</key>
	<dict>
		<key>A3</key>
		<string>QPP</string>
		<key>Number</key>
		<string>962</string>
	</dict>
	<key>QQ</key>
	<dict>
		<key>A3</key>
		<string>QQQ</string>
		<key>Number</key>
		<string>963</string>
	</dict>
	<key>QR</key>
	<dict>
		<key>A3</key>
		<string>QRR</string>
		<key>Number</key>
		<string>964</string>
	</dict>
	<key>QS</key>
	<dict>
		<key>A3</key>
		<string>QSS</string>
		<key>Number</key>
		<string>965</string>
	</dict>
	<key>QT</key>
	<dict>
		<key>A3</key>
		<string>QTT</string>
		<key>Number</key>
		<string>966</string>
	</dict>
	<key>QV</key>
	<dict>
		<key>A3</key>
		<string>QVV</string>
		<key>Number</key>
		<string>968</string>
	</dict>
	<key>QW</key>
	<dict>
		<key>A3</key>
		<string>QWW</string>
		<key>Number</key>
		<string>969</string>
	</dict>
	<key>QX</key>
	<dict>
		<key>A3</key>
		<string>QXX</string>
		<key>Number</key>
		<string>970</string>
	</dict>
	<key>QY</key>
	<dict>
		<key>A3</key>
		<string>QYY</string>
		<key>Number</key>
		<string>971</string>
	</dict>
	<key>QZ</key>
	<dict>
		<key>A3</key>
		<string>QZZ</string>
		<key>Number</key>
		<string>972</string>
	</dict>
	<key>RE</key>
	<dict>
		<key>A3</key>
		<string>REU</string>
		<key>Number</key>
		<string>638</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>A3</key>
		<string>ROU</string>
		<key>Number</key>
		<string>642</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>A3</key>
		<string>SRB</string>
		<key>Number</key>
		<string>688</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>A3</key>
		<string>RUS</string>
		<key>Number</key>
		<string>643</string>
	</dict>
	<key>RW</key>
	<dict>
		<key>A3</key>
		<string>RWA</string>
		<key>Number</key>
		<string>646</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>A3</key>
		<string>SAU</string>
		<key>Number</key>
		<string>682</string>
	</dict>
	<key>SB</key>
	<dict>
		<key>A3</key>
		<string>SLB</string>
		<key>Number</key>
		<string>090</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>A3</key>
		<string>SYC</string>
		<key>Number</key>
		<string>690</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>A3</key>
		<string>SWE</string>
		<key>Number</key>
		<string>752</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>A3</key>
		<string>SGP</string>
		<key>Number</key>
		<string>702</string>
	</dict>
	<key>SH</key>
	<dict>
		<key>A3</key>
		<string>SHN</string>
		<key>Number</key>
		<string>654</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>A3</key>
		<string>SVN</string>
		<key>Number</key>
		<string>705</string>
	</dict>
	<key>SJ</key>
	<dict>
		<key>A3</key>
		<string>SJM</string>
		<key>Number</key>
		<string>744</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>A3</key>
		<string>SVK</string>
		<key>Number</key>
		<string>703</string>
	</dict>
	<key>SL</key>
	<dict>
		<key>A3</key>
		<string>SLE</string>
		<key>Number</key>
		<string>694</string>
	</dict>
	<key>SM</key>
	<dict>
		<key>A3</key>
		<string>SMR</string>
		<key>Number</key>
		<string>674</string>
	</dict>
	<key>SN</key>
	<dict>
		<key>A3</key>
		<string>SEN</string>
		<key>Number</key>
		<string>686</string>
	</dict>
	<key>SR</key>
	<dict>
		<key>A3</key>
		<string>SUR</string>
		<key>Number</key>
		<string>740</string>
	</dict>
	<key>ST</key>
	<dict>
		<key>A3</key>
		<string>STP</string>
		<key>Number</key>
		<string>678</string>
	</dict>
	<key>SV</key>
	<dict>
		<key>A3</key>
		<string>SLV</string>
		<key>Number</key>
		<string>222</string>
	</dict>
	<key>SX</key>
	<dict>
		<key>A3</key>
		<string>SXM</string>
		<key>Number</key>
		<string>534</string>
	</dict>
	<key>SZ</key>
	<dict>
		<key>A3</key>
		<string>SWZ</string>
		<key>Number</key>
		<string>748</string>
	</dict>
	<key>TC</key>
	<dict>
		<key>A3</key>
		<string>TCA</string>
		<key>Number</key>
		<string>796</string>
	</dict>
	<key>TD</key>
	<dict>
		<key>A3</key>
		<string>TCD</string>
		<key>Number</key>
		<string>148</string>
	</dict>
	<key>TF</key>
	<dict>
		<key>A3</key>
		<string>ATF</string>
		<key>Number</key>
		<string>260</string>
	</dict>
	<key>TG</key>
	<dict>
		<key>A3</key>
		<string>TGO</string>
		<key>Number</key>
		<string>768</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>A3</key>
		<string>THA</string>
		<key>Number</key>
		<string>764</string>
	</dict>
	<key>TJ</key>
	<dict>
		<key>A3</key>
		<string>TJK</string>
		<key>Number</key>
		<string>762</string>
	</dict>
	<key>TK</key>
	<dict>
		<key>A3</key>
		<string>TKL</string>
		<key>Number</key>
		<string>772</string>
	</dict>
	<key>TL</key>
	<dict>
		<key>A3</key>
		<string>TLS</string>
		<key>Number</key>
		<string>626</string>
	</dict>
	<key>TM</key>
	<dict>
		<key>A3</key>
		<string>TKM</string>
		<key>Number</key>
		<string>795</string>
	</dict>
	<key>TN</key>
	<dict>
		<key>A3</key>
		<string>TUN</string>
		<key>Number</key>
		<string>788</string>
	</dict>
	<key>TO</key>
	<dict>
		<key>A3</key>
		<string>TON</string>
		<key>Number</key>
		<string>776</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>A3</key>
		<string>TUR</string>
		<key>Number</key>
		<string>792</string>
	</dict>
	<key>TT</key>
	<dict>
		<key>A3</key>
		<string>TTO</string>
		<key>Number</key>
		<string>780</string>
	</dict>
	<key>TV</key>
	<dict>
		<key>A3</key>
		<string>TUV</string>
		<key>Number</key>
		<string>798</string>
	</dict>
	<key>TW</key>
	<dict>
		<key>A3</key>
		<string>TWN</string>
		<key>Number</key>
		<string>158</string>
	</dict>
	<key>TZ</key>
	<dict>
		<key>A3</key>
		<string>TZA</string>
		<key>Number</key>
		<string>834</string>
	</dict>
	<key>UA</key>
	<dict>
		<key>A3</key>
		<string>UKR</string>
		<key>Number</key>
		<string>804</string>
	</dict>
	<key>UG</key>
	<dict>
		<key>A3</key>
		<string>UGA</string>
		<key>Number</key>
		<string>800</string>
	</dict>
	<key>UM</key>
	<dict>
		<key>A3</key>
		<string>UMI</string>
		<key>Number</key>
		<string>581</string>
	</dict>
	<key>US</key>
	<dict>
		<key>A3</key>
		<string>USA</string>
		<key>Number</key>
		<string>840</string>
	</dict>
	<key>UY</key>
	<dict>
		<key>A3</key>
		<string>URY</string>
		<key>Number</key>
		<string>858</string>
	</dict>
	<key>UZ</key>
	<dict>
		<key>A3</key>
		<string>UZB</string>
		<key>Number</key>
		<string>860</string>
	</dict>
	<key>VA</key>
	<dict>
		<key>A3</key>
		<string>VAT</string>
		<key>Number</key>
		<string>336</string>
	</dict>
	<key>VC</key>
	<dict>
		<key>A3</key>
		<string>VCT</string>
		<key>Number</key>
		<string>670</string>
	</dict>
	<key>VE</key>
	<dict>
		<key>A3</key>
		<string>VEN</string>
		<key>Number</key>
		<string>862</string>
	</dict>
	<key>VG</key>
	<dict>
		<key>A3</key>
		<string>VGB</string>
		<key>Number</key>
		<string>092</string>
	</dict>
	<key>VI</key>
	<dict>
		<key>A3</key>
		<string>VIR</string>
		<key>Number</key>
		<string>850</string>
	</dict>
	<key>VN</key>
	<dict>
		<key>A3</key>
		<string>VNM</string>
		<key>Number</key>
		<string>704</string>
	</dict>
	<key>VU</key>
	<dict>
		<key>A3</key>
		<string>VUT</string>
		<key>Number</key>
		<string>548</string>
	</dict>
	<key>WF</key>
	<dict>
		<key>A3</key>
		<string>WLF</string>
		<key>Number</key>
		<string>876</string>
	</dict>
	<key>WS</key>
	<dict>
		<key>A3</key>
		<string>WSM</string>
		<key>Number</key>
		<string>882</string>
	</dict>
	<key>XA</key>
	<dict>
		<key>A3</key>
		<string>XAA</string>
		<key>Number</key>
		<string>973</string>
	</dict>
	<key>XB</key>
	<dict>
		<key>A3</key>
		<string>XBB</string>
		<key>Number</key>
		<string>974</string>
	</dict>
	<key>XC</key>
	<dict>
		<key>A3</key>
		<string>XCC</string>
		<key>Number</key>
		<string>975</string>
	</dict>
	<key>XD</key>
	<dict>
		<key>A3</key>
		<string>XDD</string>
		<key>Number</key>
		<string>976</string>
	</dict>
	<key>XE</key>
	<dict>
		<key>A3</key>
		<string>XEE</string>
		<key>Number</key>
		<string>977</string>
	</dict>
	<key>XF</key>
	<dict>
		<key>A3</key>
		<string>XFF</string>
		<key>Number</key>
		<string>978</string>
	</dict>
	<key>XG</key>
	<dict>
		<key>A3</key>
		<string>XGG</string>
		<key>Number</key>
		<string>979</string>
	</dict>
	<key>XH</key>
	<dict>
		<key>A3</key>
		<string>XHH</string>
		<key>Number</key>
		<string>980</string>
	</dict>
	<key>XI</key>
	<dict>
		<key>A3</key>
		<string>XII</string>
		<key>Number</key>
		<string>981</string>
	</dict>
	<key>XJ</key>
	<dict>
		<key>A3</key>
		<string>XJJ</string>
		<key>Number</key>
		<string>982</string>
	</dict>
	<key>XK</key>
	<dict>
		<key>A3</key>
		<string>XKK</string>
		<key>Number</key>
		<string>983</string>
	</dict>
	<key>XL</key>
	<dict>
		<key>A3</key>
		<string>XLL</string>
		<key>Number</key>
		<string>984</string>
	</dict>
	<key>XM</key>
	<dict>
		<key>A3</key>
		<string>XMM</string>
		<key>Number</key>
		<string>985</string>
	</dict>
	<key>XN</key>
	<dict>
		<key>A3</key>
		<string>XNN</string>
		<key>Number</key>
		<string>986</string>
	</dict>
	<key>XO</key>
	<dict>
		<key>A3</key>
		<string>XOO</string>
		<key>Number</key>
		<string>987</string>
	</dict>
	<key>XP</key>
	<dict>
		<key>A3</key>
		<string>XPP</string>
		<key>Number</key>
		<string>988</string>
	</dict>
	<key>XQ</key>
	<dict>
		<key>A3</key>
		<string>XQQ</string>
		<key>Number</key>
		<string>989</string>
	</dict>
	<key>XR</key>
	<dict>
		<key>A3</key>
		<string>XRR</string>
		<key>Number</key>
		<string>990</string>
	</dict>
	<key>XS</key>
	<dict>
		<key>A3</key>
		<string>XSS</string>
		<key>Number</key>
		<string>991</string>
	</dict>
	<key>XT</key>
	<dict>
		<key>A3</key>
		<string>XTT</string>
		<key>Number</key>
		<string>992</string>
	</dict>
	<key>XU</key>
	<dict>
		<key>A3</key>
		<string>XUU</string>
		<key>Number</key>
		<string>993</string>
	</dict>
	<key>XV</key>
	<dict>
		<key>A3</key>
		<string>XVV</string>
		<key>Number</key>
		<string>994</string>
	</dict>
	<key>XW</key>
	<dict>
		<key>A3</key>
		<string>XWW</string>
		<key>Number</key>
		<string>995</string>
	</dict>
	<key>XX</key>
	<dict>
		<key>A3</key>
		<string>XXX</string>
		<key>Number</key>
		<string>996</string>
	</dict>
	<key>XY</key>
	<dict>
		<key>A3</key>
		<string>XYY</string>
		<key>Number</key>
		<string>997</string>
	</dict>
	<key>XZ</key>
	<dict>
		<key>A3</key>
		<string>XZZ</string>
		<key>Number</key>
		<string>998</string>
	</dict>
	<key>YD</key>
	<dict>
		<key>A3</key>
		<string>YMD</string>
		<key>Number</key>
		<string>720</string>
	</dict>
	<key>YE</key>
	<dict>
		<key>A3</key>
		<string>YEM</string>
		<key>Number</key>
		<string>887</string>
	</dict>
	<key>YT</key>
	<dict>
		<key>A3</key>
		<string>MYT</string>
		<key>Number</key>
		<string>175</string>
	</dict>
	<key>ZA</key>
	<dict>
		<key>A3</key>
		<string>ZAF</string>
		<key>Number</key>
		<string>710</string>
	</dict>
	<key>ZM</key>
	<dict>
		<key>A3</key>
		<string>ZMB</string>
		<key>Number</key>
		<string>894</string>
	</dict>
	<key>ZW</key>
	<dict>
		<key>A3</key>
		<string>ZWE</string>
		<key>Number</key>
		<string>716</string>
	</dict>
	<key>ZZ</key>
	<dict>
		<key>A3</key>
		<string>ZZZ</string>
		<key>Number</key>
		<string>999</string>
	</dict>
</dict>
</plist>
