<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CountryToRegForm</key>
	<dict>
		<key>Other</key>
		<string>Register_NameEmail</string>
	</dict>
	<key>RegServer</key>
	<dict>
		<key>Other</key>
		<string>https://littlebuddy.apple.com/ar</string>
	</dict>
</dict>
</plist>
