<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AR</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>08006660523</string>
		</dict>
	</array>
	<key>AT</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0800201074</string>
		</dict>
	</array>
	<key>AU</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0011 80054896589</string>
		</dict>
	</array>
	<key>BB</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18005341025</string>
		</dict>
	</array>
	<key>BE</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>080076298</string>
		</dict>
	</array>
	<key>BM</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18664623016</string>
		</dict>
	</array>
	<key>BR</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0008175562972</string>
		</dict>
	</array>
	<key>BS</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18664623016</string>
		</dict>
	</array>
	<key>CA</key>
	<array>
		<dict>
			<key>DefaultPaperSize</key>
			<string>na-letter</string>
			<key>Flags</key>
			<integer>7</integer>
			<key>Phone</key>
			<string>18005562972</string>
		</dict>
	</array>
	<key>CH</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>CL</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>12300200728</string>
		</dict>
	</array>
	<key>CN</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>108001100349</string>
		</dict>
	</array>
	<key>CO</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>9809132972</string>
		</dict>
	</array>
	<key>CR</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0 8000130398</string>
		</dict>
	</array>
	<key>DE</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>DK</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>Default</key>
	<array>
		<dict>
			<key>ClosedURL</key>
			<string>https://reg1.apple.com:443/cgi-bin/WebObjects/AXMLS</string>
			<key>IgnoreDialtone</key>
			<string>NO</string>
			<key>OpenURL</key>
			<string>https://littlebuddy.apple.com:443/cgi-bin/WebObjects/AXMLS</string>
			<key>Script</key>
			<string>AppleConnect</string>
		</dict>
	</array>
	<key>ES</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>900805955</string>
		</dict>
	</array>
	<key>FI</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0800118341</string>
		</dict>
	</array>
	<key>FR</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>GB</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>7</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>GT</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18009992149</string>
		</dict>
	</array>
	<key>HK</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>00180054896589</string>
		</dict>
	</array>
	<key>HU</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0680013708</string>
		</dict>
	</array>
	<key>ID</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0018030155562972</string>
		</dict>
	</array>
	<key>IE</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>IL</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18009415032</string>
		</dict>
	</array>
	<key>IT</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>800874738</string>
		</dict>
	</array>
	<key>JM</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18003916785</string>
		</dict>
	</array>
	<key>JP</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>3</integer>
			<key>Phone</key>
			<string>006101080054896589</string>
		</dict>
	</array>
	<key>KR</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>00280054896589</string>
		</dict>
	</array>
	<key>KY</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18664623016</string>
		</dict>
	</array>
	<key>LU</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0 8005536</string>
		</dict>
	</array>
	<key>MX</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0018003711250</string>
		</dict>
	</array>
	<key>MY</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>1800803690</string>
		</dict>
	</array>
	<key>NL</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0800 0222750</string>
		</dict>
	</array>
	<key>NO</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>NZ</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>PA</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>2805562972</string>
		</dict>
	</array>
	<key>PE</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>080051632</string>
		</dict>
	</array>
	<key>PH</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>180011110864</string>
		</dict>
	</array>
	<key>PL</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>008001111464</string>
		</dict>
	</array>
	<key>PT</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>800813101</string>
		</dict>
	</array>
	<key>SE</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0080054896589</string>
		</dict>
	</array>
	<key>SG</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>001 80054896589</string>
		</dict>
	</array>
	<key>TH</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>001800135562972</string>
		</dict>
	</array>
	<key>TT</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>18005562972</string>
		</dict>
	</array>
	<key>TW</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0 0801 148095</string>
		</dict>
	</array>
	<key>US</key>
	<array>
		<dict>
			<key>DefaultPaperSize</key>
			<string>na-letter</string>
			<key>Flags</key>
			<integer>15</integer>
			<key>Phone</key>
			<string>18005562972</string>
		</dict>
	</array>
	<key>VE</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>08001004475</string>
		</dict>
	</array>
	<key>ZA</key>
	<array>
		<dict>
			<key>Flags</key>
			<integer>2</integer>
			<key>Phone</key>
			<string>0800997947</string>
		</dict>
	</array>
</dict>
</plist>
