<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>da</key>
	<array>
		<string>DK</string>
	</array>
	<key>de</key>
	<array>
		<string>DE</string>
		<string>LU</string>
		<string>AT</string>
		<string>CH</string>
	</array>
	<key>en</key>
	<array>
		<string>US</string>
		<string>CA</string>
		<string>GB</string>
		<string>AU</string>
		<string>NZ</string>
		<string>IE</string>
		<string>SG</string>
		<string>MY</string>
		<string>HK</string>
		<string>IN</string>
	</array>
	<key>es</key>
	<array>
		<string>AR</string>
		<string>CL</string>
		<string>CR</string>
		<string>ES</string>
		<string>PH</string>
		<string>MX</string>
		<string>PA</string>
		<string>DO</string>
		<string>VE</string>
	</array>
	<key>es-MX</key>
	<array>
		<string>MX</string>
	</array>
	<key>fi</key>
	<array>
		<string>FI</string>
	</array>
	<key>fr</key>
	<array>
		<string>BE</string>
		<string>CA</string>
		<string>FR</string>
		<string>LU</string>
		<string>CH</string>
	</array>
	<key>it</key>
	<array>
		<string>IT</string>
	</array>
	<key>ja</key>
	<array>
		<string>JP</string>
	</array>
	<key>ko</key>
	<array>
		<string>KR</string>
	</array>
	<key>nl</key>
	<array>
		<string>NL</string>
		<string>BE</string>
	</array>
	<key>nb</key>
	<array>
		<string>NO</string>
	</array>
	<key>pl</key>
	<array>
		<string>PL</string>
	</array>
	<key>pt</key>
	<array>
		<string>BR</string>
		<string>PT</string>
		<string>MO</string>
	</array>
	<key>pt-BR</key>
	<array>
		<string>BR</string>
	</array>
	<key>pt_PT</key>
	<array>
		<string>PT</string>
	</array>
	<key>ca</key>
	<array>
		<string>AD</string>
		<string>ES</string>
		<string>FR</string>
		<string>IT</string>
	</array>
	<key>pt-PT</key>
	<array>
		<string>PT</string>
	</array>
	<key>ru</key>
	<array>
		<string>RU</string>
		<string>BY</string>
		<string>EE</string>
		<string>KZ</string>
		<string>KG</string>
		<string>LT</string>
		<string>LV</string>
		<string>SJ</string>
		<string>TJ</string>
		<string>UA</string>
		<string>UZ</string>
	</array>
	<key>sv</key>
	<array>
		<string>SE</string>
	</array>
	<key>zh-Hans</key>
	<array>
		<string>CN</string>
		<string>SG</string>
		<string>MY</string>
	</array>
	<key>zh-Hant</key>
	<array>
		<string>TW</string>
		<string>HK</string>
		<string>MO</string>
	</array>
	<key>ar</key>
	<array>
		<string>SA</string>
		<string>JO</string>
		<string>AE</string>
		<string>EG</string>
		<string>LB</string>
		<string>KW</string>
		<string>SY</string>
		<string>QA</string>
		<string>MA</string>
		<string>DZ</string>
		<string>TN</string>
	</array>
	<key>cs</key>
	<array>
		<string>CZ</string>
	</array>
	<key>hu</key>
	<array>
		<string>HU</string>
	</array>
	<key>tr</key>
	<array>
		<string>TR</string>
	</array>
	<key>he</key>
	<array>
		<string>IL</string>
	</array>
	<key>el</key>
	<array>
		<string>GR</string>
		<string>CY</string>
	</array>
	<key>sk</key>
	<array>
		<string>SK</string>
	</array>
	<key>th</key>
	<array>
		<string>TH</string>
	</array>
	<key>hr</key>
	<array>
		<string>HR</string>
	</array>
	<key>ro</key>
	<array>
		<string>RO</string>
	</array>
	<key>uk</key>
	<array>
		<string>UA</string>
	</array>
</dict>
</plist>
