:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: SanFranciscoRegular;
  font-size: 14px;
  background-image: url(resources/background.png);
}

html {
  height: 100%;
}

@font-face {
  font-family: SanFranciscoBold;
  src: url(fonts/sanfranciscodisplay-bold-webfont.woff);
}

@font-face {
  font-family: SanFranciscoRegular;
  src: url(fonts/sanfranciscodisplay-regular-webfont.woff);
}

h1 {
  font-family: SanFranciscoRegular;
  font-weight: normal;
  letter-spacing: -0.035em;
  font-size: 43px;
  margin-top: 18px;
  margin-bottom: 14px;
  padding: 0px;
  color: #929292;
}

p, span {
  letter-spacing: 0.013em;
}

img, a {
  -webkit-user-drag: none;
}

.worldmap {
  margin-left: 0.1em;
  margin-top: 0.15em;
  height: 200px;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 800px;
  height: 600px;
  background: linear-gradient(to bottom, #f5f5f5, #e5e5e5);
  position: relative;
  border-radius: 5px;
}

.countries {
  margin-top: 10px;
}

.list {
  width: 267px;
  height: 147px;
  display: block;
  font-size: 14px;
  letter-spacing: -0.01em;
  word-spacing: 0.1em;
  font-family: inherit;
  border: 1px solid #c5c5c5;
  border-radius: 1px;
  overflow-y: auto;
}

.list:focus {
  box-shadow: 0 0 1px 3px #96c0f4;
}

.list::-webkit-scrollbar {
  width: 15px;
}

.list::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-left: 1px solid #ececec;
}

.list::-webkit-scrollbar-track:hover {
  background-color: #fafafa;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c1c1;
  border-width: 3px 3px 3px 4px;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

option {
  padding-left: 4px;
  padding-top: 2px;
}

.movement-buttons {
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding-left: 7px;
}

.description {
  margin-top: 0px;
}

.tab {
  display: none;
}

.tab.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-button {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
  border: none;
  background: none;
  background-size: 100% 100%;
  background-image: url(resources/arrowbutton.png);
}

.arrow-button:disabled {
  opacity: 0.5;
}

.arrow-button:focus {
  background-image: url(resources/arrowbuttonFocus.png);
}

.arrow-button:active {
  background-image: url(resources/arrowbuttonPressed.png);
}

.arrow-button:active:focus {
  background-image: url(resources/arrowbuttonFocusPressed.png);
}

#move-back-btn {
  transform: rotate(180deg);
}

.arrow-button-container {
  display: inline-block;
}

.arrow-button-container:first-of-type {
  margin-right: 50px;
}

